DATABASE_URL="mysql://root:@localhost:3306/belanjapedia"
NUXT_SESSION_PASSWORD="ganti-dengan-string-random-minimal-32-karakter"
NUXT_PUBLIC_APP_NAME="BelanjaPedia"
NUXT_PUBLIC_APP_URL="http://localhost:3000"
